@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  } 

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
  }
} 

@layer utilities {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
